@import "tailwindcss";

/* --------------------
   Fonts
-------------------- */
:root {
  --font-playfair: 'Playfair Display', serif;
  --font-inter: 'Inter', sans-serif;

  --color-bg: #f7f4ef;
  --color-primary: #2f3a1f;
  --color-accent: #6b7a4f;
}

/* --------------------
   Base styles
-------------------- */
body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--font-inter);
}

h1, h2, h3 {
  font-family: var(--font-playfair);
}
